# Xcode
.DS_Store
RoomsNepal/.DS_Store
build/
target/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

#java
.classpath
.project
.settings/
*.idea
*.iml
local_db.bin
appengine-generated/
.gradle/
out/
elasticsearch/
workspace/
