<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Roquito - Messaging platform for mobile developers</title>
    <link rel="stylesheet" href="css/normalize.css"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="images/favicon.ico">
	
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="margin:0px;padding:0px">
<script type="text/x-handlebars">
	<nav class="nav">
  		<div class="container">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">
        			<p class="logo">Roquito</p>
      			</a>
    		</div>
			<ul class="nav navbar-nav navbar-right">
				<li>{{#link-to more}}Learn More{{/link-to}}</li>
				<li>{{#link-to more}}Contact Us{{/link-to}}</li>
				<li>{{#link-to 'login'}}Login{{/link-to}}</li>
				<li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
			</ul>
  		</div>
	</nav>
	<div>
		<div class="container">
			{{outlet}}
		</div>
	</div>
	<footer>
        <div class="container">
			<div class="row">
  				<p class="copyright text-muted small text-center">
						Copyright@32skills. Please send your feedbacks to
						<a href="mailto://contact@32skills.com">contact@32skills.com</a>
				</p>
			</div>
        </div>
    </footer>
</script>

<script type="text/x-handlebars" id="index">
<div class="banner">
	<div class="row">
		<div class="col-lg-12">				
			<h1>Welcome to Roquito</h1>
			<h2>Messaging platform for your mobile apps</h2><br><br>
			<a class="btn btn-primary btn-lg" href="/#/signup" role="button" id="signup-header-cta">Get Started</a>
		</div>
	</div>	
</div>	
</script>

<script type="text/x-handlebars" id="login">
<div class="container login-container">
	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 signup-form">
			<h2>Log In</h2>
			{{#if errorMessage}}
	        	<div class="alert alert-danger">{{errorMessage}}</div>
	    	{{/if}}
			<form>
				<div class="form-group">
					{{input valueBinding="login.email" class="form-control" id="email" placeholder="Email"}}
				</div>
				<div class="form-group">
					{{input valueBinding="login.password" class="form-control" type="password" id="password" placeholder="Password"}}
				</div>
				<div class="form-group pull-right">
					<button {{action 'cancel'}} class="btn btn-cancel">Cancel</button>
					<button {{action 'login'}} class="btn btn-login">Log In</button>
				</div>
			</form>
		</div>
  		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<div class="form-group">
				<p class="lead">Don't have an account? {{#link-to 'signup'}}Create Account{{/link-to}}</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</script>

<script type="text/x-handlebars" id="signup">
<div class="container">
	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 signup-form">
		   	<h2>Sign Up</h2>
			<p class="lead">Already got an account? {{#link-to 'login'}}Login here{{/link-to}}</p>
			{{#if errorMessage}}
	        	<div class="alert alert-danger">{{errorMessage}}</div>
	    	{{/if}}
			<form {{action "createAccount" on="submit"}}>
	  			<div class="form-group">
					{{input valueBinding="user.email" class="form-control" id="email" placeholder="Email"}}
	  			</div>
				<div class="form-group">
					{{input valueBinding="user.fullName" class="form-control" id="fullName" placeholder="Full Name"}}
	  			</div>
				<div class="form-group">
	    			{{input valueBinding="user.company" class="form-control" id="company" placeholder="Company"}}
	  			</div>
				<div class="form-group">
	    			{{input valueBinding="user.password" type="password" class="form-control" id="password" placeholder="Password"}}
	  			</div>
				<div class="form-group">
	    			{{input valueBinding="user.confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"}}
	  			</div>
				<div class="form-group pull-right">
					<button {{action 'cancel'}} class="btn btn-cancel">Cancel</button>
					<button {{action 'createAccount'}} class="btn btn-primary">Create Account</button>
				</div>
			</form>		
		</div>
  		<div class="col-md-4"></div>
	</div>
</div>
</script>

<script type="text/x-handlebars" id="user">
	<h1>Welcome User</h1>
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/libs/handlebars-v2.0.0.js"></script>
<script src="js/libs/ember-1.9.1.js"></script>
<script src="js/app.js"></script>
<script src="js/router.js"></script>
<script src="js/models/model.js"></script>
<script src="js/controllers/signup_controller.js"></script>
<script src="js/controllers/login_controller.js"></script>
<script src="js/routes/signup_route.js"></script>
<script src="js/routes/login_route.js"></script>
</body>
</html>
