<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>mKit.IO - Messaging platform for mobile developers</title>
<link rel="stylesheet" href="css/normalize.css" />
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>	
<link rel="icon" type="image/png" href="images/favicon.ico">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="margin: 0px; padding: 0px">

<script type="text/x-handlebars">
	<div id="successAlert" class="hidden alert alert-success success-text" role="alert">Save Success</div>
	<nav class="top-nav nav">
	 <div class="container">
  		{{render "navbar"}}
	 </div>
	</nav>
	
		{{outlet}}
	
	<footer>
        <div class="container">
			<div class="row">
  				<p class="copyright text-muted small text-center">
						Copyright@32skills. Please send your feedbacks to
						<a href="mailto://contact@32skills.com">contact@32skills.com</a>
				</p>
			</div>
        </div>
    </footer>
</script>

<script type="text/x-handlebars" id="loading">
<div class="spinner">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
	<h5>Loading... Please wait!</h5>
</div>	
</script>

<script type="text/x-handlebars" id="navbar">
<div class="nav-container">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">
        			<p class="logo">mKit.IO</p>
      			</a>
    		</div>
			{{shit}}
			<ul class="nav navbar-nav navbar-right">
 				{{#if hasToken}}
					<li><p class="logout-text">Hello There,</p></li>
  					<li>{{#link-to 'logout' class="logout-link"}}Sign Out{{/link-to}}</li>
				{{else}}
  					<li>{{#link-to 'login'}}Login{{/link-to}}</li>
					<li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
				{{/if}}	
			</ul>
  		</div>
</script>
  		
<script type="text/x-handlebars" id="index">
<div class="banner">
	<div class="row">
		<div class="col-lg-12">				
			<h1>Welcome to mKit</h1>
			<h2>Messaging platform for your mobile apps</h2><br><br>
			<a class="btn btn-primary btn-lg" href="/#/signup" role="button" id="signup-header-cta">Get Started</a>
		</div>
	</div>	
</div>
<div class="sdk-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Download our mobile SDKs</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<a href="#"><img src="images/apple.png"></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="images/android.png"></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="images/windows.png"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>iOS</h4>
			</div>
			<div class="col-lg-4">
				<h4>Android</h4>
			</div>
			<div class="col-lg-4">
				<h4>Windows</h4>
			</div>
		</div>
	</div>
</div>		
</script>

<script type="text/x-handlebars" id="login">
<div class="wrap">
<div class="container login-container">
	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 roquito-form">
			<h2>Log In</h2>
			{{#if errorMessage}}
	        	<div class="alert alert-danger">{{errorMessage}}</div>
	    	{{/if}}
			<form>
				<div class="form-group">
					{{input valueBinding="login.email" class="form-control" id="email" placeholder="Email"}}
				</div>
				<div class="form-group">
					{{input valueBinding="login.password" class="form-control" type="password" id="password" placeholder="Password"}}
				</div>
				<div class="form-group pull-right">
					{{spin-button inProgress = inProgress buttonText=buttonText action='login'}}
					<button {{action 'cancel'}} class="btn btn-cancel">Cancel</button>
					
				</div>
			</form>
		</div>
  		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<div class="form-group">
				<p class="lead">Don't have an account? {{#link-to 'signup'}}Create Account{{/link-to}}</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</div>
</script>

<script type="text/x-handlebars" id="signup">
<div class="wrap">
	<div class="container">
		<div class="row">
	  		<div class="col-md-4"></div>
	  		<div class="col-md-4 roquito-form">
			   	<h2>Sign Up</h2>
				<p class="lead">Already got an account? {{#link-to 'login'}}Login here{{/link-to}}</p>
				{{#if errorMessage}}
		        	<div class="alert alert-danger">{{errorMessage}}</div>
		    	{{/if}}
				<form {{action "createAccount" on="submit"}}>
		  			<div class="form-group">
						{{input valueBinding="user.email" class="form-control" id="email" placeholder="Email"}}
		  			</div>
					<div class="form-group">
						{{input valueBinding="user.fullName" class="form-control" id="fullName" placeholder="Full Name"}}
		  			</div>
					<div class="form-group">
		    			{{input valueBinding="user.company" class="form-control" id="company" placeholder="Company"}}
		  			</div>
					<div class="form-group">
		    			{{input valueBinding="user.password" type="password" class="form-control" id="password" placeholder="Password"}}
		  			</div>
					<div class="form-group">
		    			{{input valueBinding="user.confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"}}
		  			</div>
					<div class="form-group pull-right">
						{{spin-button inProgress = inProgress buttonText=buttonText action='createAccount'}}
						<button {{action 'cancel'}} class="btn btn-cancel">Cancel</button>
					</div>
				</form>		
			</div>
	  		<div class="col-md-4"></div>
		</div>
	</div>
</div>
</script>

<script type="text/x-handlebars" id="user">
	<div class="container">
		{{outlet}}
	</div>
</script>

<script type="text/x-handlebars" id="user/index">
<div class="wrap">
	<div class="clearfix"><br></div>
	<div class="row">
		<div class="col-md-8"><h2>My Applications</h2></div>
		<div class="col-md-4 new-app-link">
			{{#link-to 'apps.new'}}New Application{{/link-to}}
		</div>
	</div>
	<div class="row">
		{{#if applications}}
			<div class="col-md-12">
			<div class="apps-list">
				<ul class="apps-grid-list">
  					{{#each app in applications}}
    					<li>
							{{#link-to 'user.app' app.applicationId}}
							<div class="app-info">
								<h2>{{app.applicationName}}</h2>
								<h5>Application ID: {{app.applicationId}}</h5>
								<p class="app-desc-text">{{app.applicationDescription}}</p>
							</div>
							{{/link-to}}
						</li>
  					{{/each}}
				</ul>
			</div>
			</div>
    	{{else}}
			<div class="col-xs-12 col-md-8"><br><p class="lead info-message">You do not have any applications yet. You can create new applications and configure them.</p></div>
  			<div class="col-xs-6 col-md-4"></div>
		{{/if}}
	</div>
</div>
</script>

<script type="text/x-handlebars" id="apps/new">
	<div class="wrap">
	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 roquito-form">
		   	<h2>New Application</h2>
			<p>All fields are required</p>
			<br/>
			{{#if errorMessage}}
	        	<div class="alert alert-danger">{{errorMessage}}</div>
	    	{{/if}}
			<form {{action "registerApplication" on="submit"}}>
	  			<div class="form-group">
					{{input valueBinding="application.applicationName" class="form-control" id="name" placeholder="Application Name"}}
	  			</div>
				<div class="form-group">
					{{input valueBinding="application.applicationDescription" class="form-control" id="description" placeholder="Short Description"}}
	  			</div>
				<div class="form-group">
	    			{{input valueBinding="application.websiteLink" class="form-control" id="website" placeholder="Website"}}
	  			</div>
				<div class="form-group pull-right">
					{{spin-button inProgress = inProgress buttonText=buttonText action='registerApplication'}}
					<button {{action 'cancel'}} class="btn btn-cancel">Cancel</button>
				</div>
			</form>		
		</div>
  		<div class="col-md-4"></div>
	</div>
	</div>
</script>

<script type="text/x-handlebars" id="user/app">
	<h2>{{userApp.application.applicationName}}</h2>
	<p class="app-desc-text">{{userApp.application.applicationDescription}}</p>
	<p class="">Website - <a target="_blank" href="{{unbound userApp.application.websiteLink}}">{{userApp.application.websiteLink}}</a></p>
	<div class="row pull-right">
		<div class="col-md-1"></div>
  		<div class="col-md-1"><button {{action 'cancel'}} class="btn btn-cancel">Delete Application</button></div>
	</div>
	<br>
	{{userApp.application.apnsDevCertFile}}
	<ul class="nav nav-tabs">
		{{#each tab in userApp.tabs}}
    		<li role="presentation" {{bind-attr class="tab.active:active"}}><a href="#" {{action "tabAction" tab.name}}>{{tab.name}}</a></li>
  		{{/each}}
	</ul>
	{{#each tab in userApp.tabs}}
		<div class="tab-content">
			<div class="container" id="{{unbound tab.name}}">
				{{#if tab.active}}
					{{#equals "Settings" tab}}
						{{renderSettingsTab "userApp" tab}}
					{{/equals}}
					{{#equals "Push" tab}}
						{{renderPushTab "userApp" tab}}
					{{/equals}}
				{{/if}}
			</div>
		</div>
	{{/each}}
</script>

<script type="text/x-handlebars" id="Settings">
	<div class="row">
		<ul class="span2 clearfix">
	</div>
	<div class="row">
  		<div class="col-xs-4"><h4 class="app-key-text">Application ID</h4></div>
  		<div class="col-xs-6"><p class="lead">{{tab.userApp.application.applicationId}}</p></div>
	</div>
	<div class="row">
  		<div class="col-xs-4"><h4 class="app-key-text">Application Key</h4></div>
  		<div class="col-xs-6"><p class="lead">{{tab.userApp.application.applicationKey}}</p></div>
	</div>
	<div class="row">
  		<div class="col-xs-4"><h4 class="app-key-text">Application Secret</h4></div>
  		<div class="col-xs-6"><p class="lead">{{tab.userApp.application.applicationSecret}}</p></div>
	</div>
	<div class="row">
  		<div class="col-xs-4"><h4 class="app-key-text">Pricing</h4></div>
  		<div class="col-xs-6"><p class="lead">{{tab.userApp.application.pricingPlan}}</p></div>
	</div>
	<div class="row">
		<div class="col-md-4 pull-left"><h3>Push Notification Settings</h3><hr></div>
	</div>
	<div class="row">
		<div class="col-md-4"><p class="lead pull-left">GCM Configuration</p></div>	
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-md-2"><h4 class="app-key-text pull-right">Android GCM Key</h4></div>
  		<div class="col-xs-6">{{input valueBinding="tab.appConfig.androidGCMKey" class="form-control pull-left app-settings-input" id="androidGCMKey" value=tab.appConfig.androidGCMKey}}</div>
	</div>
	<div class="row">
		<h1></h1>
	</div>
	<div class="row">
		<div class="col-md-8"><hr></div>
	</div>
	<div class="row">
		<div class="col-md-4"><p class="lead pull-left">APNS Configuration</p></div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-md-2"><h4 class="app-key-text pull-right">Dev Certificate</h4></div>
		<div class="col-md-6">
			{{#if tab.appConfig.apnsDevCertFileName}}
				<p class="file-path-text">
					<a target="_blank" href="/files/cert/{{unbound tab.appConfig.apnsDevCertFileId}}">{{tab.appConfig.apnsDevCertFileName}}</a>
				</p>
			{{else}}
				<p class="file-path-text">Certificate Not Uploaded</p>
			{{/if}}
			{{file-picker inputId="apnsDevCertFile" outputName="apnsDevCertFileName"}}
			<br>
		</div>
	<div class="row">
		<h1></h1>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-md-2"><h4 class="app-key-text pull-right">Dev Password</h4></div>
  		<div class="col-xs-6">{{input valueBinding="tab.appConfig.apnsDevCertPassword" class="form-control pull-left app-settings-input" id="apnsDevPassword" placeholder=""}}</div>
	</div>
	<div class="row">
		<h1></h1>
	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-md-4"><hr></div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-md-2"><h4 class="app-key-text pull-right">Prod Certificate</h4></div>
		<div class="col-md-6">
			{{#if tab.appConfig.apnsProdCertFileName}}
				<p class="file-path-text"><a href="#">{{tab.appConfig.apnsProdCertFileName}}</a></p>
			{{else}}
				<p class="file-path-text">Certificate Not Uploaded</p>
			{{/if}}
			{{file-picker inputId="apnsProdCertFile" outputName="apnsProdCertFileName"}}
		</div>
	</div>
	<div class="row">
		<h1></h1>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-md-2"><h4 class="app-key-text pull-right">Prod Password</h4></div>
  		<div class="col-xs-6">{{input valueBinding="tab.appConfig.apnsProdCertPassword" class="form-control pull-left app-settings-input" id="apnsProdPassword" placeholder=""}}</div>
	</div>
	<div class="row">
		<h1></h1>
	</div>
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			{{spin-button inProgress = tab.updateInProgress buttonText=tab.updateButtonText action='updateAppConfig' class='update-settings-btn pull-right'}}
		</div>
	</div>
	<br><br>
</script>

<script type="text/x-handlebars" id="Push">
	<div class="row">
		<ul class="span2 clearfix">
	</div>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingOne">
      			<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						iOS Push Notification
        			</a>
      			</h4>
    		</div>
    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      			<div id="apnsForm" class="panel-body">
        			<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Device Token</h4></div>
  						<div class="col-xs-4">{{input class="form-control pull-left app-settings-input" id="deviceToken" placeholder=""}}</div>
					</div>
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-4"><p class="broadcast-info-text">Leave blank for broadasting push to all users</p></div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Message</h4></div>
  						<div class="col-xs-6">{{textarea class="form-control pull-left app-settings-input" id="message" placeholder=""}}</div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-4"><button {{action 'moreKeyValueFields'}}>Add custom key/value <i class="fa fa-plus"></i></button></div>
					</div>
      			</div>
    		</div>
  		</div>
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingTwo">
      			<h4 class="panel-title">
        			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          				Android Push Notification
        			</a>
      			</h4>
    		</div>
    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      			<div class="panel-body">
        			<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Device ID</h4></div>
  						<div class="col-xs-4">{{input class="form-control pull-left app-settings-input" id="deviceID" placeholder=""}}</div>
					</div>
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-4"><p class="broadcast-info-text">Leave blank for broadasting push to all users</p></div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Extra Key</h4></div>
  						<div class="col-xs-6">{{input class="form-control pull-left app-settings-input" id="key" placeholder=""}}</div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Extra Value</h4></div>
  						<div class="col-xs-6">{{input class="form-control pull-left app-settings-input" id="value" placeholder=""}}</div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Message</h4></div>
  						<div class="col-xs-6">{{input class="form-control pull-left app-settings-input" id="message" placeholder=""}}</div>
					</div>
					<div class="row">
						<h1></h1>
					</div>
					<div class="row">
						<div class="col-xs-2"></div>
						<div class="col-md-2"><h4 class="app-key-text pull-right">Payload</h4></div>
  						<div class="col-xs-6">{{textarea class="form-control pull-left app-settings-input" id="payload" placeholder=""}}</div>
					</div>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			{{spin-button inProgress = tab.pushInProgress buttonText=tab.pushButtonText action='sendPushNotification' class='pull-right'}}
		</div>
	</div>
	<br><br>
</script>


<script type="text/x-handlebars" id="Logs">
  Second Tab content
</script>

<script type='text/x-handlebars' id='components/spin-button'>
    <button {{action 'showProgress'}} class="btn btn-primary">
        {{#if inProgress}}
            {{buttonText}}&nbsp;&nbsp;<img src="images/ajax-loader.gif">
        {{else}}
            {{buttonText}}
        {{/if}}
    </button>
</script>

<script type='text/x-handlebars' id='components/file-picker'>
    <div class="file-upload-override-button btn-success btn left">
		Upload New Certificate
		<input type="file" class="file-upload-button" id="{{unbound inputId}}" name="{{unbound inputId}}"/>
	</div>
	<div class="file-upload-filename left" id="{{unbound outputName}}"></div>
	<div class="both"></div>
</script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="js/libs/handlebars-v2.0.0.js"></script>
	<script src="js/libs/ember-1.9.1.js"></script>
	<script src="js/app.js"></script>
	<script src="js/components/components.js"></script>
	<script src="js/routes/routes.js"></script>
	<script src="js/models/models.js"></script>
	<script src="js/controllers/controllers.js"></script>
</body>
</html>
