<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}" />
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n%wex" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Redis log appender for easier processing with logstash -->
	<if condition='isDefined("REDIS_HOST") &amp;&amp; isDefined("REDIS_PORT")'>
		<then>
			<appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
				<host>${REDIS_HOST}</host>
				<port>${REDIS_PORT}</port>
				<key>roquito-logs-key</key>
			</appender>
		</then>
	</if>

	<root level="INFO">
		<!-- <appender-ref ref="LOGSTASH" /> -->
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="CONSOLE" /> -->
	</root>
</configuration>
