/* Put your CSS here */
.ember-application {
    margin: 0px;
}
.nav {
	background:#fff;	
}
.nav a {
	font-family: 'Open Sans', sans-serif;
	color:#444444;
	background-color:#ffffff;
}

.nav a:hover {
	color:#3cb0fd;
	background-color: #fff !important;
}

.banner{
	margin-top: 0px;
	padding: 150px;
	background-size: cover;
	background-color: #fff;
	color: #484745;
	text-align: center;
}
.banner h1{
	font-size: 60px;
	letter-spacing: 0.4px;
	font-family: 'Open Sans Condensed', sans-serif;	
	color:#3cb0fd;
}
.banner h2{
	font-weight: 200;
	font-size: 24px;
	letter-spacing: 0.6px;
	color:#666666;
	font-family: 'Open Sans', sans-serif;
}

.banner .btn-primary {
  background: #3cb0fd;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  border:0px;
  font-family: 'Open Sans', sans-serif;
}

.banner .btn-primary:hover {
  background: #3498db;
  text-decoration: none;
}

.login-form{
	margin: 0 auto;
	padding: 80px;
	min-height: 280px;
	background-color: #eee;
	width: 500px;
	
}
footer{
	font-family: 'Open Sans', sans-serif;
	background-color: #484745;
	bottom: 0px;
	position:absolute;
	width:100%;
}

p.copyright {
    margin: 25px auto;
    align:center;
	color: #fff;
    font-size: 14px;
}