/* Put your CSS here */
.ember-application {
	margin: 0px;
}
@import url(http://fonts.googleapis.com/css?family=Cabin);
/* BOOTSTRAP OVERRIDES */
html body {
	width:100%; height:100%;
	font-family: 'Cabin', sans-serif;
	color: #666666;
}

.wrap { 
	min-height:680px;   
	width:1140px;
	margin:auto;
}

p {
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	font-size: 18px;
	letter-spacing: 0.6px;
	color: #4c4c4c;
}

.nav-container {
	margin:0px 14px;
	background-color:#ecf0f1;
}

.top-nav {
	background: #fefefe;
}

.nav a {
	color: #777777;
}

.nav a:hover {
	color: #3cb0fd;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn:active:focus {
	outline: none;
}

.btn-primary {
	background: #13cdb5;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 15px 35px 15px 35px;
	text-decoration: none;
	border: 0px;
	margin-top: 15px;
	margin-bottom: 25px;
	letter-spacing: 1px;
	text-shadow: none;
}

.btn-primary:hover {
	background: #3498db;
	text-decoration: none;
}

.roquito-form .btn-primary {
	background: #3cb0fd;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	border: 0px;
}

.roquito-form .btn-login {
	background: #3cb0fd;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
	border: 0px;
}

.btn-cancel {
	background: #e74c3c;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 18px;
	text-decoration: none;
	border: 0px;
}
.btn-cancel:hover {
	color:#EEEEEE;
}
.form-control {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	display: block;
	width: 100%;
	height: 44px;
	padding: 10px 15px;
	font-size: 17px;
	line-height: 1.42857143;
	color: #777777;
	background-color: #fff;
	background-image: none;
	border: 1px solid #efefef;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.new-app-link {
	margin:auto;
	height:69px;
}

.new-app-link a {
	background: #34495e;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	border: 0px;
	float:right;
	margin-top:14px;
	margin-right:20px;
}

.info-message {
	color:#7f8c8d;
	font-size:16px;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
}

.tab-content h4 {
	color:#7f8c8d;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid transparent;
}

/**************** BOOTSTRAP OVERRIDES END *************/


header {
  position: absolute;
  width: 100%;
  border-bottom: none;
  height: 49px;
}
.navbar-nav>li>a{
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}
.nav>li>a:hover{
	background: none;
	color: #fff;
	
}
.banner {
	margin-top: 0px;
	padding: 200px;
	background-size: cover;
	background: url('../images/banner.png');
	background-color: #fff;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.banner h1 {
	font-size: 70px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 600;
}

.banner h2 {
	font-size: 24px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 1.5em;
}
.pubkit-section{
	color: #262626;
	padding-top: 100px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}
.pubkit-section h2{
	color: #262626;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 25px;
}
.pubkit-section p{
	padding:15px 35px 15px;
}
em {
  display: block;
  text-align: center;
  margin: 0 auto 30px;
  width: 100px;
  border: 2px solid #3e87c7;
}
.icons{
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 120px;
}
.icons h3{
	color: #262626;
	padding-top: 45px;
	letter-spacing: 1px;
	padding-bottom: 25px;
}
.sdk-section{
	background: url('../images/sdk.jpg') ;
	color: #fff;
	text-align: center;
	padding-top: 45px;
	letter-spacing: 1px;
	padding-bottom: 35px;
}
.sdk-section h2{
	margin-bottom: 25px;
}
.sdk-section em{
	border: 2px solid #fff;
}
.get-started{
	text-align: center;
	font-family: 'Cabin', sans-serif;
	padding-top: 120px;
	padding-bottom: 120px;
}
.get-started h2{
	color: #262626;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 15px;
}

.logo {
	color: #fff;
	font-size: 24px;
	font-family: 'Cabin', sans-serif;
	font-weight: 800;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.logos {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom:70px;
}
.logos p {
	color:#fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
.logos ul {
  text-align: center;
  padding: 0 0 10px 0;
  list-style-type: none;
}
.logos ul li {
  display: inline;
}
.logos img {
  margin: 10px 14px;
  width: 135px;
}
.logos .itv-logo {
  width: 60px;
  margin: 10px 15px;
}
.logout-text {
	color:#3cb0fd !important;
	font-size:15px;
	margin-top:15px;
}
.nav-tabs>li>a{
	margin-right: 0px;
	border-radius: 0px;
	padding: 24px 15px;
}
.nav-tabs>li>a:active{
	border: none;
}
.nav-tabs>li>a:hover {
  border: none;
}
.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.nav {
  list-style: none outside none;
  margin-bottom: 0;
  padding-left: 0;
}
.nav > li {
  display: block;
  position: relative;
  padding: 4px 0 4px 4px;
}
.nav-tabs li {
  height: 70px;
  width: 33%;
  margin: 0;
  padding: 0px;
}
.nav-tabs {
  background: #13cdb5;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom: 0;
  margin-top: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs>li>a{
  color: #fff;
  border-left: 1px solid #11b8a3;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #383737;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  cursor: default;
   padding: 27px 0px 24px;
}
.tab-content{
	margin-bottom: 80px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #383737;
  border: none;
  width: 104%;
  z-index: 1000;
}
.broadcast-info-text {
	text-align:center;
}
a.logout-link {
	font-size:15px;
}
a.logout-link:hover {
	color:#e74c3c;
}
.login-container {
	margin: 20px auto;
}

.apps-list {
	margin-top:50px;
}

.apps-list a {
	text-decoration:none;
}

.apps-grid-list {
	padding-left: 0;
	list-style: none;
}

.apps-list li {
	float: left;
	width: 25%;
	height: 160px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #fefefe;
    border-radius: 4px;
    margin-right:5px;
}

.app-info {
	margin: auto ;
}
.app-info h2 {
	color:#F97D81;
}
.app-desc-text {
	color:#666666;
	font-size:15px;
	font-weight:normal;
}

.app-settings-input {
	width:340px;
	margin-top: -4px;
}
.custom-file-upload {
      background: #ddd;
      border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px; }

h4.app-key-text {
	color: #555555;
	font-weight: 300;
	font-size: 16px;
}

.file-path-text {
	font-weight:300;
	font-style:italic;
	font-family: 'Arvo', serif;
}

.success-text {
	text-align:center;
	font-size:24px;
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
}

.hidden {
	display:none;
}

ul.attachments {
	list-style:none;
	padding-left: 1px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(236,240,241, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(236,240,241, 0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(236,240,241,, 0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(236,240,241, 0.75), rgba(0,0,0,0));
}

li.active a {
	color: #3cb0fd !important;
}
footer{
	width:100%;
	height: 60px; 
	background-color: #484745;
	text-align: center;
	margin:0px auto;
	background-color: #f2f5f8;
}

p.copyright {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin: 25px auto;
	letter-spacing: 0.6px;
	align: center;
	color: #4c4c4c;
	font-size: 14px;
}

.copyright a {
	color: #3e87c7;
}

.btn-component {
	padding:0px;
	display:inline-block;
}

.spinner {
  	position: absolute; /* or absolute */
  	top: 0%;
  	left: 45%;
    height:44px;
    text-align:center;
    margin-bottom:20px;
}

.spinner > h5 {
	color: #8e44ad;	
	font-size:16px;
	margin:0px;
}

.spinner > div {
  background-color: #3498db;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.update-settings-btn {
	padding: 10px 30px 10px 30px;
}

.left {
	float: left;
}
.both {
	clear: both;
}
.file-upload-container {
	width:500px;
	padding:4px;
}
.file-upload-override-button {
	margin:0px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	font-size:15px;
}
.file-upload-override-button:active {
	position:relative; top:1px;
}
.file-upload-button {
	position: absolute;
	height: 50px;
	top: -10px;
	left: -10px;
	cursor: pointer;
	opacity: 0;
	filter:alpha(opacity=0);
}

.file-upload-filename {
	height: auto;
	padding: 8px;
}